body{
  margin-left: 2px;
  margin-right: 2px;
  background-color: rgb(8, 8, 8);}

header{ 
  font-family: Arial, Helvetica, sans-serif;
    background: #c4cacd;
    width: 700px;
    display: inline-flex;
    height: 150px;
    border-width: 10px;
    border-style: inset;
    border-color:  #2c97b1;
    border-radius: 30px;
     }


#series{font-family: Arial, Helvetica, sans-serif;
  background: #616364;
  width: 200px;
  display: inline-flex;
  height: 50px;
  border-width: 5px;
  border-style: inset;
  border-color: #e6eced;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  margin-left: -30px;
}


.container{
  width: 500x;
  border: 2px solid #e6eced;
  padding: 10px;
  margin: 50px;

  display: flex;
}

.flex{
  background: #e6eced;
  padding: 85px;
  border: 2px solid #e6eced;
  text-align: center;

  margin: 10px;
  flex-grow: 1;
}

footer{
  background-color: white;
  text-align: center;
}

.p1{
  position: absolute;
  left: 545px;
  top: 200px;

}


